@model CLDV_Framework.Models.JobType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
